body{
    margin: 0px; /*margen pa' dentro*/
    padding: 0; /**/
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 5%;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    list-style: none;/*Eliminar puntitos de la lista de items Gmail, imágenes y asi*/
    display: flex; /*Le da flexibilidad a nuestra lista*/
    justify-content:flex-end; /*Centramos horizontalmente los elementos de la lista*/
    align-items: center; /*Centramos verticalmente la lista*/
}

a{
    /*Elimina la línea de adeabajo*/
    text-decoration: none;
}

nav .nav-right-section a{
    color: rgb(21, 21, 21);
    margin-right: 16px; /*Aquí estoy posicionando mi cajita de la lista en relación con lo demás*/
}

nav .nav-right-section .menu {
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 23px;
    height: 23px;
    background-size: contain;/*Modifica el tamaño de la imagen al tamaño del contenedor*/
    background-repeat: no-repeat; /*Para eliminar la repetición dle elemento (a veces no pasa y a veces sí)*/
}

nav .nav-right-section img {
    border-radius: 30px; /*Separa el menú de la imagen*/
    margin-left: 20px;
    width: 32px;
}

/*Main///////////////////////////////////////////////////////////////////////////////////*/

/*________________________________________________________________________
LOGO
_______________________________________________________________________________*/
main {
    text-align: center;
    padding-top: 132px;

}

main .main-logo {
    width: 530px;
    margin: 0 auto; /*pone como cero el margen de arriba y abajo, el auto setea en automático brdes de izquierda y derecha poniendolo al centro*/
    padding-bottom: 33px;
}

main .main-logo img {
    height: 92px;

}

/*____________________________________________________________________________________
INPUT
_______________________________________________________________________________*/

main .main-input {
    width: 585px;
    margin: 0 auto;
    margin-bottom: 20px; /*Separación entre buscador y botones*/

}

/*Caja con borde redondeado*/
main .main-input-container {
    border: 1px solid #dfe1e5; /*pide tres valores: anchura de linea, estilo y color*/
    border-radius: 30px;
    width: 650;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main .main-input input{
    height: 45px;
    border: none;
    outline: none; /*quita el borde cuando seleccionas el elemento*/
    width: 430px;
    padding-right: 30px;
}

main .main-input .search-icon {
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    /*la caja delimputo cubre todo asi ponemos background size*/
    background-size: contain;
    padding-left: 5%;
    background-repeat: no-repeat; /*Para que no se repita hasta llenar el espacio*/
    background-position: left;
    height: 13px;
    width: 13px;
}

main .main-input .micro-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    height: 17px;
    width: 17px;
    background-size: contain;
    background-position: center;
    padding-left: 1%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon {
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-position: center;
    background-size: contain;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    padding-right: 5%;

}

/*BOTONES*/
main .main-buttons{
    
    width: 550px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;/*hace que las cajitas esten una a lado de la otra en vez de una encima de la otra, en la misma línea*/
    padding-left: 7px;
}

main .main-buttons button{
    background-color: #f8f9fa;
    border: none;
    height: 35px;
    font-size: 14px;
    color: #3c4043;
    padding: 0 20px;
    border-radius: 4px;
    margin right: 10px;

}


/*Esto es para que cuando pase el mause encima de botones o el buscador se genere la sombra que hace la página original*/
main .main-input-container:hover{
    box-shadow: 0px 0px 5px #20212447; /*x, y, radio, color*/
}

/*Ahora haremos lo mismo para los botones*/

main .main-buttons button:hover{ /*El hover los puntitos y el button van SIEMPRE juntitos porque sino se nortea y ya no sabe a que aplicarlo :v*/
    color: #202124;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 2px #20212447;
}

a:visited {
    text-decoration: none;
    color:#737b80;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #f2f2f2;
    width: 100%;
    position: absolute;  /*Esta me pone el footer hasta abajo, solo funciona para poco contenido, no más que un "pantallazo"*/
    bottom: 0;
    
}

hr{
    border-color: #dcdcdc;
    border-style: solid; /*Poner esto para que la linea cambie de color sino nomás no cambia unu*/
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.doslistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 0px;

}

.pais{
    margin-left: 2%;
    font-size: 15px;
    color:#737b80;
}

li{
    padding-right:30px;
}